html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container-background {
    background: #757F9A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #757F9A , #D7DDE8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #757F9A , #D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    min-width: 800px;   
}
.container-inherit {
    background: white;
    min-height: 100vh;
    padding-top: 40px;
}

.actor-container {
    position: absolute;
    left: 20%;
    width: 95%;
    padding: 15px;
}
.actor-div {    
    text-align: center;
    width: 80%;
    min-height: 300px;
    margin: 25px; 
    margin-bottom: 40px;     
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 15px;
}
.actor-div:hover {
    text-align: center;
    width: 80%;
    min-height: 300px;
    margin: 25px;
    margin-bottom: 40px; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: antiquewhite;
    border-radius: 20px;
    cursor: pointer; 
    padding: 15px;    
}
.actor-div-extended {
    text-align: center;
    width: 80%;
    min-height: 300px;
    margin: 25px;
    margin-bottom: 40px;      
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;    
    padding: 15px;    
}
.actor-div-extended:hover {
    text-align: center;
    width: 80%;
    min-height: 300px;
    margin: 25px; 
    margin-bottom: 40px;     
    background-repeat: no-repeat;
    background-position: center;
    background-color: antiquewhite;    
    border-radius: 20px;    
    cursor: pointer;
    padding: 15px;     
}
.actor-div-comments {
    padding: 17px;
    margin: auto;
    width: 90%;
    border-radius: 20px;
    background-color: antiquewhite;
}
.actor-div-comment-button {
    margin-top: 10px;
    position: absolute;
    left: 8.5%;
}

.provider-nav {
    height: 100vh;
    width: 20%;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    left: 0;
    border-right: darkgrey 1px solid;
}
.provider-nav-content {
    padding-top: 2vh;
    color: #00a5d9;
}
.provider-items {
    color: #00a5d9;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.provider-items:hover {
    color: darkcyan;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 5px;    
}
.provider-items-active {
    color: black;
    font-size: 1.2em;
    margin-bottom: 5px;    
}
.provider-items-active:hover {
    color: darkcyan;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 5px;    
}